@page "/apps"
@inject AppService service
@using ClickerBb9.Models
@using ClickerBb9.Services

<PageTitle>Apps</PageTitle>


@if (apps == null)
{
<p>
    <em>Loading...</em>
</p>
}
else
{
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Created At</th>
        <th>Updated At</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var app in apps)
    {
    <tr>
        <td>@app.AppName</td>
        <td>@app.Url</td>
        <td>@app.CreatedAt</td>
        <td>@app.UpdatedAt</td>
    </tr>
    }
    </tbody>
</table>
}
@code {
    private ClickerApp[]? apps;

    protected override async Task OnInitializedAsync()
    {
        var data = await service.GetClickerAppsAsync();
        apps = data.apps.ToArray();
    }

}